<div class="jumbotron" style="background-color:#FF4742;color:#FFF;text-align:center">
      <div class="container">
          <div class="col-md-8 col-md-offset-2">
              <h3 style="font-weight:bold;">Join #londonliving, a chat group for those moving to, living in, or interested in London</h3></br>
              <p style="font-size:1em">As a member of London List, you get access to  #london, a chat group on Slack, which lets you connect with fellow Londoners, exhange information about your area and stay informed about what's going on in town.</p>
              <p style="font-size:1em">Our Slack community is in beta, use the sign up button below to get your name on the list. Invites are vetted and accepted within 1 hour (unless of course, you're a robot).</p></br>
              <button class="btn" style="background:transparent;color:#FFF;font-weight:bold;border:2px solid #FFF">Sign up now</button>
          </div>
      </div>
   </div>

   <div class="container" style="text-align:center">
      <div class="row">
          <h3 style="font-weight:bold;">Ask questions, get answers</h3>
          <div class="row" style="font-weight:bold;text-align:left">
              <div class="col-md-16 col-md-offset-3">
                <img src="https://randomuser.me/api/portraits/men/20.jpg" style="border-radius:999px;height:42px;">
                <p>Looking for month rental in Shoreditch. Less than £500 all in</p>
                                <img src="https://randomuser.me/api/portraits/women/65.jpg" style="border-radius:999px;height:42px;">
                <p>Is London a safe place to live? What areas should I avoid?</p>
                                <img src="https://randomuser.me/api/portraits/men/66.jpg" style="border-radius:999px;height:42px;">
                <p>Travel time from Putney seems good, but I've heard bad things about the district line, anyone?</p>
              </div>
          </div>

      </div>
   </div>